{{#author}}
  {{#if cover_image}}
      <section id="site-hero" class="hero-partial" data-parallax="scroll" data-image-src="{{cover_image}}">
    {{else}}
      <section id="site-hero" class="hero-partial hero-noimage">
  {{/if}}
      {{navigation}}
      <div class="title Container-Large">
        {{#if profile_image}}
          <div class="profileimage">
            <img src="{{img_url profile_image}}" />
          </div>
        {{/if}}
        <h1>{{name}}</h1>
        <p class="small">
          {{#if website}}
            {{#if location}}
              {{location}}, <a href="{{website}}">{{website}}</a>
            {{else}}
              <a href="{{website}}">{{website}}</a>
            {{/if}}
            {{else}}
            {{#if location}}
              {{location}}
            {{/if}}
          {{/if}}
        </p>
        {{#if bio}}
          <p>{{bio}}</p>
        {{/if}}
      </div>
  </section>
{{/author}}
<script>
  $("#site-hero").AnchorSlide();
  $("#site-hero .title").centerThis();
</script>
